# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Running Challenges
email: teamtcmakers@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Collect badges and complete challenges for running, jogging, walking, and
  volunteering at your weekly 5k parkrun. This browser extension adds extra
  information to your parkrun results page so you can see your progress.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: RunChallenges
github_username:  fraz3alpha

# Build settings
markdown: kramdown
theme: minima
#remote_theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed

timezone: Europe/London

defaults:
  - scope:
      path: "img"
    values:
      image: true

# Include static pages from inside these directories to stop them cluttering
# up the root
include:
  - _pages

sass:
    sass_dir: ./_sass

# Show a small excerpt in the posts list on the homepage
show_excerpts: true

header_pages:
  - _pages/about.md
  - _pages/map.md
  - _pages/badges.md
  - _pages/faq.md
  - _pages/getstarted.md

permalink: /:year/:month/:day/:title:output_ext

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# To build with Docker:
# cd running-challenges/blog
# docker run --rm --name jekyll -it -p 4000:4000 -v `pwd`:/srv/jekyll -v `pwd`/vendor/bundle:/usr/local/bundle jekyll/jekyll jekyll serve

google_analytics: "UA-115520338-2"
google_analytics_staging: "UA-115520338-3"

disqus:
  shortname: "andytaylor"

exclude: 
  - vendor